<mat-card appearance="fill">
  <h3>Device {{ isNew ? 'toevoegen' : 'aanpassen'}}</h3>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">

    <div *ngIf="!isNew" [requireRule]="'device-admin'">
      <mat-form-field>
        <mat-label>Omgeving</mat-label>
        <mat-select
          formControlName="customerId">
          <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</mat-option>
        </mat-select>
      </mat-form-field>
        <!-- <span *ngIf="!projectFormGroup.get('projectName').valid && projectFormGroup.get('projectName').touched">Project name is required</span> -->
    </div>
    <div>
      <mat-form-field>
        <mat-label>UUID</mat-label>
        <input 
          matInput 
          type="text"
          formControlName="uuid"
          >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Omschrijving</mat-label>
        <textarea 
          matInput 
          formControlName="description"
          rows="3"
          style="resize: none;"
          ></textarea>
      </mat-form-field>
    </div>
    <div>
        <button
            type="submit" 
            mat-flat-button
            color="primary"
            [disabled]="!deviceForm.valid"
            >{{ isNew ? 'Toevoegen' : 'Aanpassen'}}</button>
        <button 
            type="button"
            mat-flat-button
            color="warn"
            [routerLink]="['../']"
            >Annuleren</button>
    </div>
    
  </form>
</mat-card>





