<button 
    class="btn btn-primary" 
    [routerLink]="['new']"
    [requireRule]="'customer-add'"
    style="margin-bottom: 15px;"
    >Omgeving toevoegen</button>


<table class="table">
    <thead>
        <tr>
            <th 
                *ngFor="let head of headElements" 
                scope="col"
                > 
                {{head}}
            </th>
        </tr>
    </thead>
  
    <tbody>
        <tr 
            *ngFor="let customer of customers" 
            [routerLink]="[customer.id]"
            >
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.description}}</td>
            <td>{{customer.created | date: 'dd-MM-yyyy HH:mm' }}</td>
            <td>{{customer.registeredDevices}}/{{customer.maxDevices}}</td>
            <!-- <td>{{customer.}}</td> -->
        </tr>
    </tbody>


</table>