<button 
    mat-raised-button color="primary"
    [routerLink]="['new']"
    [requireRule]="'customer-add'"
    style="margin-bottom: 15px;"
    >Omgeving toevoegen</button>

    <mat-table [dataSource]="dataSource" #table matSort>
        <ng-container matColumnDef={{column.id}} *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ getDisplayValue(element, column.id) }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row 
            *matRowDef="let row; columns: displayedColumns;"
            [routerLink]="[row.id]"
            ></mat-row>
    </mat-table>