<mat-card class="col-8 mx-auto text-center">
    <h3>Omgeving {{ isNew ? 'toevoegen' : 'aanpassen'}}</h3>
    <form [formGroup]="customerForm"  (ngSubmit)="onSubmit()">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Naam</mat-label>
                <input 
                    matInput
                    formControlName="name"
                    >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Omschrijving</mat-label>
                <textarea 
                    matInput
                    formControlName="description"
                    rows="3"
                    style="resize: none;"
                ></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Omgevingscode</mat-label>
                <input 
                    matInput
                    formControlName="code"
                >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Server endpoint</mat-label>
                <input 
                    matInput
                    formControlName="server"
                    >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Aantal devices</mat-label>
                <input 
                    matInput
                    type="number"
                    formControlName='maxDevices'
                    >
            </mat-form-field>
        </div>
        <div class="row">
            <button 
                mat-raised-button color="primary"
                type="submit"
                [disabled]="!customerForm.valid"
                >
                {{ isNew ? 'Toevoegen' : 'Aanpassen'}}
            </button>
            <button 
                mat-raised-button color="warn" 
                [routerLink]="['../']">Annuleren</button>
        </div>
    </form>
</mat-card>