<mat-card class="col-8 mx-auto text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="col-5 mt-3 mx-auto">
                <mat-label>Username</mat-label>
                <input 
                    type="text" 
                    matInput 
                    formControlName="username" 
                    >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="col-5 mt-3 mx-auto">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="password">
            </mat-form-field>
        </div>
        <div>
            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>
        </div>

        <button
        [disabled]="!loginForm.valid"
        mat-flat-button
        color="primary"
        type="submit"
        >Sign in</button>
    </form>


</mat-card>
