<mat-toolbar style="margin-bottom: 10px;">
      <span>{{title}}</span>
      <div>
          <a 
          *ngIf="(authService.loggedInSubject | async) === true"
          mat-button [routerLink]="['omgevingen']"> Omgevingen </a>
      </div>
      <span class="example-spacer"></span>
      <button 
      *ngIf="(authService.loggedInSubject | async) === true"
        mat-icon-button class="example-icon" 
        aria-label="Logout"
        (click)="onLogout()"
        >
        <mat-icon>logout</mat-icon>
      </button>
</mat-toolbar>